@font-face { font-family: 'Roboto', sans-serif; font-weight: normal; font-style: normal; src: url(./fonts/Roboto-Regular.ttf) }
@font-face { font-family: 'Roboto', sans-serif; font-weight: 300; font-style:normal; src: url(./fonts/Roboto-Light.ttf) }

html {
    height: 100%;
}

body {
    margin:0px; 
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#root {
    position: relative; 
    z-index: 1; 
    overflow: hidden; 
    height: 100%; 
    background-position: 50%; 
    background-size: cover;
}