@font-face { font-family: 'Roboto', sans-serif; src: url(./fonts/Roboto-Regular.ttf) format('truetype'); }

html {
    height: 100%;
}

body {
    margin:0px; 
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#root {
    position: relative; 
    z-index: 1; 
    overflow: hidden; 
    height: 100%; 
    background-position: 50%; 
    background-size: cover;
}