@font-face { font-family: 'Roboto', sans-serif; font-weight: normal; font-style: normal; src: url(./fonts/Roboto-Regular.ttf) }
@font-face { font-family: 'Roboto', sans-serif; font-weight: 300; font-style:normal; src: url(./fonts/Roboto-Light.ttf) }

html {
    height: 100%;
    width: 100%;
}

body {
    margin:0px;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#root {
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    display: inline-flex;
    min-width: 100%;
}